<div class="{{ section.class }}">
  <div class="container">
    <div class="packages_container">
      <div class="packages_container__left">
        {% if section.settings.image != blank %}
          <img
            src="{{ section.settings.image | image_url }}"
            alt=""
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
            class="block w-full h-full"
          >
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
      </div>

      <div class="packages_container__right">
        <div class="packages_container__right--text">
          <hr />
          {% if section.settings.package_text_1 != blank %}
            <h2 class="h1">{{ section.settings.package_text_1 }}</h2>
          {% endif %}

          {% if section.settings.package_text_2 != blank %}
            <p class="">{{ section.settings.package_text_2 }}</p>
          {% endif %}

          {% if section.settings.text_link != blank and section.settings.url_link != blank %}
            <a href="{{ section.settings.url_link }}" class="btn packages_container__right--text--link">
              {{ section.settings.text_link }}
              <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.180771 0.680771C0.237928 0.623469 0.305828 0.578007 0.380583 0.546987C0.455337 0.515967 0.535477 0.5 0.616412 0.5C0.697347 0.5 0.777487 0.515967 0.852241 0.546987C0.926996 0.578007 0.994896 0.623469 1.05205 0.680771L8.4358 8.06452C8.4931 8.12168 8.53857 8.18958 8.56959 8.26433C8.60061 8.33909 8.61657 8.41923 8.61657 8.50016C8.61657 8.5811 8.60061 8.66123 8.56959 8.73599C8.53857 8.81074 8.4931 8.87864 8.4358 8.9358L1.05205 16.3196C0.936514 16.4351 0.779809 16.5 0.616412 16.5C0.453015 16.5 0.29631 16.4351 0.180771 16.3196C0.0652316 16.204 0.000322157 16.0473 0.000322157 15.8839C0.000322157 15.7205 0.0652316 15.5638 0.180771 15.4483L7.13011 8.50016L0.180771 1.55205C0.123469 1.4949 0.078006 1.427 0.0469863 1.35224C0.0159666 1.27749 0 1.19735 0 1.11641C0 1.03548 0.0159666 0.955338 0.0469863 0.880583C0.078006 0.805829 0.123469 0.737928 0.180771 0.680771Z" fill="#96BB7C"/>
              </svg>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Packages",
  "class": "home-packages",
  "settings": [
    {
      "type": "header",
      "content": "Banner Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "package_text_1",
      "label": "Package Text 1",
      "default": "Approdable Packages"
    },
    {
      "type": "text",
      "id": "package_text_2",
      "label": "Package Text 2",
      "default": "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics "
    },
    {
      "type": "text",
      "id": "package_text_3",
      "label": "Package Text 3",
      "default": "Our goal is to make online education work for everyone"
    },
    {
      "type": "url",
      "id": "url_link",
      "label": "Url Link"
    },
    {
      "type": "text",
      "id": "text_link",
      "label": "Text Link",
      "default": "Learn More"
    }
  ],
  "presets": [
    {
      "name": "Home Packages"
    }
  ]
}
{% endschema %}
